{%- comment -%}
  Renders the country picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

{%- liquid
  assign currencies = localization.available_countries | map: 'currency' | map: 'iso_code' | uniq
  assign popular_countries = localization.available_countries | where: 'popular?' | sort: 'name'

  assign show_country_filter = false
  if localization.available_countries.size > 9
    assign show_country_filter = true
  endif

  assign show_popular_countries = false
  if localization.available_countries.size > 9 and popular_countries.size > 1
    assign show_popular_countries = true
  endif

  assign show_currencies = false
  if currencies.size > 1
    assign show_currencies = true
  endif
%}

<div class="disclosure">
  <button
    type="button"
    class="disclosure__button localization-form__select localization-selector link link--text caption-large country-drawer-opener"
    aria-expanded="false"
    aria-controls="{{ localPosition }}-country-drawer"
    aria-describedby="{{ localPosition }}Label"
    data-drawer="#{{ localPosition }}-country-drawer"
  >
    <span>
      {{- localization.country.name }} |
      {{ localization.country.currency.iso_code }}
    </span>
    {{ 'icon-caret.svg' | inline_asset_content }}
  </button>
  
  <country-drawer
    id="{{ localPosition }}-country-drawer"
    class="country-drawer"
    aria-hidden="true"
    role="dialog"
    aria-modal="true"
    aria-labelledby="{{ localPosition }}-country-drawer-title"
  >
    <div class="country-drawer__overlay"></div>
    <div class="country-drawer__inner">
      <div class="country-drawer__header">
        <h2 class="country-drawer__title" id="{{ localPosition }}-country-drawer-title">
          {{ 'localization.update_country' | t }}
        </h2>
        <button
          type="button"
          class="country-drawer__close"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
      
      <div class="country-drawer__content">
        <div id="sr-country-search-results" class="visually-hidden" aria-live="polite"></div>
        <form class="country-drawer__form" id="{{ localPosition }}-country-form">
          <ul role="radiogroup" class="country-drawer__list list-unstyled" id="{{ localPosition }}-country-results">
            {%- for country in localization.available_countries -%}
              <li class="country-drawer__item">
                <label class="country-drawer__label">
                  <input
                    type="radio"
                    name="country_code"
                    value="{{ country.iso_code }}"
                    class="country-drawer__radio"
                    {% if country.iso_code == localization.country.iso_code %}
                      checked
                    {% endif %}
                    data-value="{{ country.iso_code }}"
                    id="{{ localPosition }}-country-{{ country.iso_code }}"
                  >
                  <span class="country-drawer__text">
                    <span class="country">{{- country.name }}</span>
                    <span class="country-drawer__separator">|</span>
                    <span class="country-drawer__currency">{{ country.currency.iso_code }}</span>
                  </span>
                </label>
              </li>
            {%- endfor -%}
          </ul>
        </form>
      </div>
      
      <div class="country-drawer__footer">
        <button
          type="button"
          class="country-drawer__button button button--primary"
          form="{{ localPosition }}-country-form"
        >
          {{ 'localization.update_country' | t }}
        </button>
      </div>
    </div>
  </country-drawer>
</div>
<input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
