{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {{- 'icon-hamburger.svg' | inline_asset_content -}}
        {{- 'icon-close.svg' | inline_asset_content -}}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu_mobile.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        <span class="svg-wrapper">
                          <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.40225 4.25726L1.06929 7.89344C1.03832 7.92722 1.00156 7.95402 0.961099 7.97231C0.920639 7.99059 0.877275 8 0.833481 8C0.789688 8 0.746323 7.99059 0.705864 7.97231C0.665404 7.95402 0.628641 7.92722 0.597674 7.89344C0.566708 7.85966 0.542144 7.81955 0.525385 7.77541C0.508626 7.73127 0.5 7.68396 0.5 7.63618C0.5 7.5884 0.508626 7.54109 0.525385 7.49695C0.542144 7.45281 0.566708 7.4127 0.597674 7.37892L3.69524 4L0.597674 0.62108C0.535134 0.55285 0.5 0.460311 0.5 0.36382C0.5 0.267329 0.535134 0.17479 0.597674 0.10656C0.660214 0.0383309 0.745037 7.18915e-10 0.833481 0C0.921926 -7.18915e-10 1.00675 0.0383309 1.06929 0.10656L4.40225 3.74274C4.43324 3.77651 4.45782 3.81661 4.47459 3.86076C4.49137 3.9049 4.5 3.95221 4.5 4C4.5 4.04778 4.49137 4.0951 4.47459 4.13924C4.45782 4.18339 4.43324 4.22349 4.40225 4.25726Z" fill="#212121"></path>
                        </svg>
                        </span>
                        <span class="svg-wrapper">
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </span>
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            <span class="svg-wrapper">
                              <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.40225 4.25726L1.06929 7.89344C1.03832 7.92722 1.00156 7.95402 0.961099 7.97231C0.920639 7.99059 0.877275 8 0.833481 8C0.789688 8 0.746323 7.99059 0.705864 7.97231C0.665404 7.95402 0.628641 7.92722 0.597674 7.89344C0.566708 7.85966 0.542144 7.81955 0.525385 7.77541C0.508626 7.73127 0.5 7.68396 0.5 7.63618C0.5 7.5884 0.508626 7.54109 0.525385 7.49695C0.542144 7.45281 0.566708 7.4127 0.597674 7.37892L3.69524 4L0.597674 0.62108C0.535134 0.55285 0.5 0.460311 0.5 0.36382C0.5 0.267329 0.535134 0.17479 0.597674 0.10656C0.660214 0.0383309 0.745037 7.18915e-10 0.833481 0C0.921926 -7.18915e-10 1.00675 0.0383309 1.06929 0.10656L4.40225 3.74274C4.43324 3.77651 4.45782 3.81661 4.47459 3.86076C4.49137 3.9049 4.5 3.95221 4.5 4C4.5 4.04778 4.49137 4.0951 4.47459 4.13924C4.45782 4.18339 4.43324 4.22349 4.40225 4.25726Z" fill="#212121"></path>
                        </svg>
                            </span>
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      <span class="svg-wrapper">
                                        <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.40225 4.25726L1.06929 7.89344C1.03832 7.92722 1.00156 7.95402 0.961099 7.97231C0.920639 7.99059 0.877275 8 0.833481 8C0.789688 8 0.746323 7.99059 0.705864 7.97231C0.665404 7.95402 0.628641 7.92722 0.597674 7.89344C0.566708 7.85966 0.542144 7.81955 0.525385 7.77541C0.508626 7.73127 0.5 7.68396 0.5 7.63618C0.5 7.5884 0.508626 7.54109 0.525385 7.49695C0.542144 7.45281 0.566708 7.4127 0.597674 7.37892L3.69524 4L0.597674 0.62108C0.535134 0.55285 0.5 0.460311 0.5 0.36382C0.5 0.267329 0.535134 0.17479 0.597674 0.10656C0.660214 0.0383309 0.745037 7.18915e-10 0.833481 0C0.921926 -7.18915e-10 1.00675 0.0383309 1.06929 0.10656L4.40225 3.74274C4.43324 3.77651 4.45782 3.81661 4.47459 3.86076C4.49137 3.9049 4.5 3.95221 4.5 4C4.5 4.04778 4.49137 4.0951 4.47459 4.13924C4.45782 4.18339 4.43324 4.22349 4.40225 4.25726Z" fill="#212121"></path>
                        </svg>
                                      </span>
                                      <span class="svg-wrapper">
                                        {{- 'icon-caret.svg' | inline_asset_content -}}
                                      </span>
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        <span class="svg-wrapper">
                                          <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.40225 4.25726L1.06929 7.89344C1.03832 7.92722 1.00156 7.95402 0.961099 7.97231C0.920639 7.99059 0.877275 8 0.833481 8C0.789688 8 0.746323 7.99059 0.705864 7.97231C0.665404 7.95402 0.628641 7.92722 0.597674 7.89344C0.566708 7.85966 0.542144 7.81955 0.525385 7.77541C0.508626 7.73127 0.5 7.68396 0.5 7.63618C0.5 7.5884 0.508626 7.54109 0.525385 7.49695C0.542144 7.45281 0.566708 7.4127 0.597674 7.37892L3.69524 4L0.597674 0.62108C0.535134 0.55285 0.5 0.460311 0.5 0.36382C0.5 0.267329 0.535134 0.17479 0.597674 0.10656C0.660214 0.0383309 0.745037 7.18915e-10 0.833481 0C0.921926 -7.18915e-10 1.00675 0.0383309 1.06929 0.10656L4.40225 3.74274C4.43324 3.77651 4.45782 3.81661 4.47459 3.86076C4.49137 3.9049 4.5 3.95221 4.5 4C4.5 4.04778 4.49137 4.0951 4.47459 4.13924C4.45782 4.18339 4.43324 4.22349 4.40225 4.25726Z" fill="#212121"></path>
                        </svg>
                                        </span>
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
                rel="nofollow"
              >
                {%- if section.settings.enable_customer_avatar -%}
                  <account-icon>
                    {%- if customer and customer.has_avatar? -%}
                      {{ customer | avatar }}
                    {%- else -%}
                      <span class="svg-wrapper">
                        {{- 'icon-account.svg' | inline_asset_content -}}
                      </span>
                    {%- endif -%}
                  </account-icon>
                {%- else -%}
                  <span class="svg-wrapper">
                    {{- 'icon-account.svg' | inline_asset_content -}}
                  </span>
                {%- endif -%}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-twitter.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-facebook.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-pinterest.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-instagram.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tiktok.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tumblr.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-snapchat.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-youtube.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-vimeo.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
